<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>404错误页</title>

    <style type="text/css">
        .cw-1 {
            background: url({APP_DOMAIN}/image/show?image_name=404.png);
            background-repeat: no-repeat;
            height: 494px;
            width: 1000px;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-right: auto;
            margin-left: auto;
        }
    </style>

</head>

<body bgcolor="76c5f0">

    <div class="cw">
        <div class="cw-1"></div>
    </div>

</body>

</html>