<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CSS3动态背景登录框代码</title>

	<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="{{APP_STATIC_PATH}}/mooc/Css/styles.css">

	<script>
		$(document).ready(function() {

			$('#login-button'). click(function() {
				var username = $("#username").val();
				var password = $("#password").val();

				var formData = new FormData();
				formData.append("username",username);
				formData.append('password', password);

				console.log("{{APP_DOMAIN}}" + "/mooc/DoLogin")

				$.ajax({
					url : "{{APP_DOMAIN}}" + "/mooc/DoLogin",
					type : "POST",
					data : formData,
					contentType : false,
					processData : false,
					dataType : 'json',
					success : function(response) {
						if (200 === response.code) {
							window.location = "{{APP_DOMAIN}}" + "/mooc/index";
						} else {
							alert(response.msg);
						}
					}
				});
			})
		})
	</script>

</head>
<body>


<div class="wrapper">

	<div class="container">
		<h1>Video 后台管理</h1>
		<form class="form" action="" method="post">
			<input type="text" name="username" id="username" placeholder="Username">
			<input type="password" name="password" id="password" placeholder="Password"><br>
			<button type="submit" id="login-button" ><strong>登陆</strong></button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		
	</ul>
	
</div>



</body>
</html>