<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PPT生成器</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        . main {
            text-align:center;
            padding-left: 2300px;
        }
        form {
            margin-left: 30px;
        }
    </style>

    <script>

        // $(document).ready(function(){
        //
        //     $('#btn'). click(function() {
        //         var file = $("#file")[0].files[0];
        //         var formdata = new FormData();
        //         formdata.append('file', file);
        //
        //         $.ajax({
        //             url: "{APP_HOST}" + "/toppt/doUpload",
        //             type: "POST",
        //             processData: false,
        //             contentType: false,
        //             data: formdata,
        //             success: function (result) {
        //                 var result_obj = new Function("return" + result)();
        //                 console.log(result_obj);
        //
        //                 if (result_obj.code !== 200) {
        //                     alert(result_obj.msg);
        //                 }
        //             }
        //         });
        //     })
        // })
    </script>

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">PowerPoint 在线生成器</a>
            </div>
        </div>
    </nav>

    <div class="main">
        <form action="toppt/doupload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <h3 for="file">选择要转换的文件：</h3>
                <input type="file" name="file" id="file">
            </div>
            <div class="checkbox">
                <p class="help-block">只支持doc、docx、txt类型的文件</p>
            </div>
            <input type="submit" class="btn btn-info btn-default" name="submit" value="生 成" />
        </form>
    </div>

</body>
</html>